venv/
__pycache__/
*.pyc
.DS_Store
.env
.idea/
.vscode/
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/
coverage.xml
*.cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Bandit
bandit-report.json
